:root{
    --color-principal:#7cd5d1;
}

.social_app{
    display:block;
    background: #e9e7ea;
    content: center;
}
.tittle >div{
    color:var(--color-principal);
    vertical-align: middle;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0;
}

.content{
    display:block;
    padding: 2%;
}

.content > div{
    padding: 20px;
    display: block;
    justify-content:center;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}
.customer{
    position: relative;
    display: inline-block;
    margin:10px;
    padding:10px;
    width: 28%;
    background: #e9e7eabf;
    box-shadow: 1px 2px 4px rgba(122, 119, 119, 0.618);
    border-radius: 2%;
    text-align: center;
    transition: .4s;

}
.customer:hover{
    padding: 15px;;
}
.cakeC{
    display:block;
    padding:auto;
    height:80%;
    max-width:65%;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
}
.cake{
    height:240px;
    border-radius: 0%;
    
    
}
.photoC{
   position: absolute;
   top: 210px;
   left: 50px;
    height:50px;
    right:70px;
    text-align: center;
}
.photo{
    max-width: 70px;
    max-height:90px;
    border-radius: 50%;
    border:10px 30px 50px ;
}

.infoC{
    display: inline-block;
    padding-top:25px;
    font-size: 12px;
    text-align: left;
}
 p{
   
    font-weight: bold;
    display: inline;
}
td {
    align-items: center;
    display: inline-block;
    padding: 2px;
    vertical-align: middle;
}
.counterLikes>p{
   font-weight: normal;
   margin: auto;
}
   

.likes{
    width: 30px;
    
}

.footer{
    background:var(--color-principal);
   
}
.principalF{
   padding:10px;
}

.areaW{
    display: block;
    padding: 10px;
    width:90%;
    background:var(--color-principal);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.widget{
    display: inline-block;
    width:20%;
    padding: 10px;
    
    font-size: 10px;
    text-align: left;
   
}
.logo{
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.copyright-bar{
    background:#36393f;
    color: #FFFFFF;
    text-align: center;
    
}
.copyright{
    margin: auto;
   font-size:  12px;
}

.estadisticas{
    position:absolute;
    width: 100%;
    height:200px;
    bottom:0px;
    border-style: outset;
    padding: 10px;
    margin-right: 50px;
    margin-top: 150px;
    text-align: center;
    background-color: #fdfafc;
  }
  .izq{
    position:absolute;
    
    width: 33%;
    height:200px;
    bottom:0px;
    border-style: outset;
    padding: 10px;
    margin-right: 50px;
    margin-top: 150px;
    text-align: center;
    background-color: #fdfafc;
    background-image: url("../../static/images/estadisticas/descarga.jpg");
    background-repeat: no-repeat;
  }
  
  .cent{
    position:absolute;
    left: 33%;
	
    
    width: 33%;
    height:200px;
    bottom:0px;
    border-style: outset;
    padding: 10px;
    margin-right: 50px;
    margin-top: 150px;
    text-align: center;
    background-color: #fdfafc;
    background-image: url("../../static/images/estadisticas/desc.jpg");
    background-repeat: no-repeat;
  }

  .der{
    position:absolute;
    left: 66%;
    width: 33%;
    height:200px;
    bottom:0px;
    border-style: outset;
    padding: 10px;
    margin-right: 50px;
    margin-top: 150px;
    text-align: center;
    background-color: #fdfafc;
    background-image: url("../../static/images/estadisticas/images.jpg");
  }
  

    
    
  