:root{
    --color-principal:#7cd5d1;
}

.btn-pedidos{
    color: #7cd5d1 limportan;
    border-color:#7cd5d1 limportan;
}
.social_app{
    display:block;
    background: #e9e7ea;
    content: center;
}
.tittle >div{
    color:var(--color-principal);
    vertical-align: middle;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0;
}



.content > div{
    padding: 20px;
    display: block;
    justify-content:center;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}
.customer{
    position: relative;
    display: inline-block;
    margin:10px;
    padding:5px;
    min-width:12rem;
    max-width:15rem;
    width: 30%;
    background: #fff;
    box-shadow: 1px 2px 4px rgba(122, 119, 119, 0.618);
    border-radius: 2%;
    text-align: center;
    transition: .4s;

}
.customer:hover{
    //padding: 12px;
    background: #7cd5d178;
    box-shadow: 1px 2px 4px rgba(19, 17, 17, 0.618);
}
.cakeC{
    display:block;
    padding:auto;
    height:80%;
    justify-content:center;
    margin:0 auto;
}
.cake{
    width:70%;
    //height: 10em;
    border-radius: 0%;   
}
.photoC{
    position: absolute;
    top: 7rem;
    left: 5rem;
    
}
.photo{
    min-width: 2rem;
    width: 5rem;
    border-radius: 50%;
}

.infoC{
    display: inline-block;
    padding-top:10px;   
    text-align: center;
    font-family: "Homer Simpson UI";
}


.info-customer{
    font-size: 0.7rem;
}
.nameC>h4::first-letter{
    text-transform: uppercase;
} 

.likes{
    width: 40px;
    border-radius: 50%;
}

.footer{
    //width: 100%;
    background:var(--color-principal);
   // position: fixed;
   // bottom: 0;
   
}
.principalF{
   padding:5px;
   margin:0 auto;
}

.principalF>a>img{
    margin:0 1rem;
    max-width: 30px;
}


.areaW{
    display: block;
    padding: 10px;
    width:90%;
    background:var(--color-principal);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.copyright-bar{
    background:#36393f;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
}
.copyright{
    margin: auto;
    font-size:  12px;
}

.estadisticas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
//Notificaciones
.pop-notification{
    position: absolute;
    top: 50%;
    right:50%;
    background: rgba(255, 255, 255, 0.548);
    border:solid 1px #17a2b8;
    backdrop-filter: blur(2px);
    z-index: 1001;
    transition: 1s;
}


// BANNER

.img-logo {
    padding: 1px;
    width: 63px;
    margin:0 auto;
  }
.img-carousel{
    padding: 1px;
    width: 200px;
}
.carousel-item{
    height: 30rem;
    background:rgb(0, 0, 0);
    color: white;
    background-position:center;
    background-size:auto;
}
.overlay-text{
    color: white;
    position:absolute; 
    top:100px; 
    Left:50px;
    font-weight: lighter;
}
.normal-text{

    color: #9556cc;
    font-weight: bold;
    margin: auto;
    width: 50%;
    padding: 10px;

}
.normal-img{

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    width:150px;

}
.overlay-image{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    top:0;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    // background-image: url("./cake3.png");
}


.btn-start{
    background-color: #9556cc;
    color: white;
    padding: 8px 130px;
    font-size: 15px;
    opacity: 1;
    margin-top: 50px;
    border: 0px;
   
}
.btn-start:hover{
    background-color:  #007bb6;
    color: white;
    padding: 13px 150px;
    position: sticky;
    top:0;
}

// HEADER

.jumbotron-header{
    background-color: #7cd5d0;
    background-size: auto 100%;
    padding-top: 10px;
    padding-bottom: 10px;
	z-index: 1001;
	
}




.btn-login{
    background: #1291b8;
    color: white;
    border: 1px solid #6dd3ce; 
    transition: 0.5s;    
}
.btn-login:hover{
    background-color:  #007bb6;
    color: white; 
}
.img-logo {
   margin-left: 2rem;
  }

.img-user{ 
    border-radius: 70%;   
    width: 3rem;
    max-width: 4rem;
}
.btname-user{
    font-weight: bold;    
    font-family: "Homer Simpson UI";
}
ul, ol{
    list-style: none;
}
.list{
    margin: 0px;
    padding: 0px;    
}

.topnav{        
    margin: 0px;
    padding: 0px;   
     
}

.topnav li a{
    text-decoration: none;
    color: white;
    background-color: rgb(82, 78, 83);  
    display: block;
    margin-left: -80px;     
    padding-left: 20px;     
    padding-right: 20px;  
    text-align: center;  
    border-color: black; 
    z-index: 1000;
}

.topnav li input{
    text-decoration: none;
    display: block;
}

.topnav li a:hover{
    background-color: #1291b8;       
}
.topnav li ul{
    display: none;    
    position: absolute;  
} 

.topnav li:hover > ul{
    display: block;
}

.arrow{
    background-color: #7cd5d0;
    border:none;
    width: 15px;
}


.menubtn{
    margin: auto 0; 
}

.info-carousel{
   backdrop-filter: blur(4px);
   background-color:rgba(9, 7, 7, 0.667);
   position:absolute;
   top:10%;
   left:5%;
   height: 70%;
}
