.img-post {
    width: 50px;
    height: 50px;
}

.card-body {
    border-top: solid 1px;
}

.post {
    background-color: white;
    margin: 1rem;
}

.fecha {
    font-size: 9px;
    text-align: left;
    margin: 2px;
}

.comments {
    text-align: right;
}

.btnComentar {
    border: 50%;
}

.btn-navbar {
    background: #7cd5d1;
    color: white;
    border-radius: 6px;
    margin: 10px;
    height: 50px;
    width: 30%;
    align-self: center;
    justify-content: center;
}

button {
    width: 70px;
}