:root{
    --fondo: white;
    --raya: #9556CC;
    --textNombre: #9556CC;
    --fontFamily: open sans, sans-serif;
    --colorBoton : #7CD5D0;
    --colorLetra : white;
 }

// User Data
.card{
    border: none;
}
 .user_data{
    background-color: var(--fondo) ;
    background-size: 100% 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: solid;
    border-bottom-color: var(--raya);
 }

.div_image{
   display: inline-block;
   padding: 30px;
}

.div_text{
   display: inline-block;
   padding: 30px;;
}

.user-name{
    color: var(--textNombre);
    font-size: xx-large;
    font-weight: bold;
    font-family: var(--fontFamily);
}

.img_profile{
    max-width: 150px;
    max-height: 150px;
    border-radius: 100%;
}

// div bottom
.div-bottom{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

// Options
.div_options{
    padding-left: 5%;
    min-width: 120px;
    align-items: center;
}

// Information
.div_information{
    padding: 10px 5% 50px 50px;
    height: inherit;
    width: 80%;
}

// Account
.div-account{
    display: flex;
    flex-direction: column;
}

.title{
    font-weight: bold;
    font-family: var(--fontFamily);
}

.field{
    height: 20px;
    text-justify: center;
    font-family: var(--fontFamily);
}

.btn-update{
    width: 120px;
    background-color: var(--colorBoton);
    color: var(--colorLetra);
    margin-top: 20px;
    border: 0px;
    border-radius: 8px;
}



// responsive
@media only screen and (max-width: 600px) {
    .div_image, .div_text {
        display: flex;
        justify-content: center;
    }

    .div_options{
        padding-left: 0px;
    }
  }