.estadisticas{
    position:absolute;
    width: 100%;
    height:200px;
    bottom:0px;
    border-style: outset;
    padding: 10px;
    margin-right: 50px;
    margin-top: 150px;
    text-align: center;
    background-color: #fdfafc;
  }
  .izq{
    position:absolute;
    
    width: 33%;
    height:200px;
    bottom:0px;
    border-style: outset;
    padding: 10px;
    margin-right: 50px;
    margin-top: 150px;
    text-align: center;
    background-color: #fdfafc;
    background-image: url("descarga.jpg");
    background-repeat: no-repeat;
  }
  
  .cent{
    position:absolute;
    left: 33%;
	
    
    width: 33%;
    height:200px;
    bottom:0px;
    border-style: outset;
    padding: 10px;
    margin-right: 50px;
    margin-top: 150px;
    text-align: center;
    background-color: #fdfafc;
    background-image: url("desc.jpg");
    background-repeat: no-repeat;
  }

  .der{
    position:absolute;
    left: 66%;
    width: 33%;
    height:200px;
    bottom:0px;
    border-style: outset;
    padding: 10px;
    margin-right: 50px;
    margin-top: 150px;
    text-align: center;
    background-color: #fdfafc;
    background-image: url("images.jpg");
  }
  
    
    
  