.img-post{
	width: 80%;
	
}
.card-body{
	border-top:solid 1px;
}
.post{
	background-color: white;
	margin:1rem;
}
.fecha{
	font-size:9px;
	text-align: left;
	margin:2px;
}
.comments{
	text-align: right;
}
.btnComentar{
	border:50%;
}