.img-post{
	position: relative;
	bottom: 0%;
	border-radius: 10px;
	}
.img-perfil{
	width: 30px;
}
.card-body{
	border-top:solid 1px;
}

.fecha{
	font-size:9px;
	text-align: left;
	margin:2px;
}
.comments{
	text-align: center;
	display: inline-block;
	padding-top: 5px;
}
.item-comments{
	text-align: left;
}

.likes{
	display: inline-block;
	width: 25px;
}
.enviar{
	width: 10px;
	height: 10px;
	border-top: solid 0.1rem black;
	border-right: solid 1px black;
	transform: rotateZ(45deg) translateX(8px) translateY(2px);

}
//------reaccionesPOST-----
.reacciones:hover{
	border-radius: 50%;
	width: 110%;
	transform: rotateZ(10deg);
	transition: 0.3s;
}
.reaccionado{
	background: #dc3545;
}



//------postear-----
.crearPost{
	padding: 5px;
	position: sticky;
	z-index: 1000;
	top:0%;
	border-radius:0 0 15px 15px;
	background: #fff;
	background-color: #9556cca3;
	border-bottom: solid 1px #9556cc;
	backdrop-filter: blur(10px);
}
.postearImg{
	position: absolute;
	top:110%;
}
input[type="file"]{
	display:none;
}
input+label{
	padding: 5px;
	margin:0;
	//border:solid 1px #7cd5d0;
	border-radius: 5px ;
	background-color: #7cd5d043;
	text-align: center;
	font-family:"Montserrat",sans-serif ;
}
.foto{
	width:24px;
}