/*body {
  
  background-color: #fce7f5;
  background-repeat: no-repeat;
  background-size: 900px;
 }

.ingreso{
  float: right;
  width: 350px;
  border-style: outset;
  padding: 10px;
  margin-right: 50px;
  margin-top: 150px;
  text-align: center;
  background-color: #fdfafc;
}

.registro{
  float: right;
  width: 350px;
  border-style: outset;
  padding: 10px;
  margin-right: 50px;
  margin-top: 150px;
  text-align: center;
  background-color: #fdfafc;
}


#boton1{
  border-radius: 4px;
  width: 70%;
  height: 40px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #27bae7;
  
}
#boton2{
  border-radius: 4px;
  width: 70%;
  height: 40px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #d727e7;
  margin-top: 30px;
}

#caja{
  width: 70%;
  height: 30px;  
  margin-bottom: 5px;
  margin-top: 5px;
  border-style: outset;
}

input::placeholder {
  color: rgba(58, 212, 240, 0.884);
  font-size: 1.2em;
  font-style: arial;
}*/

/*form.login {
  color: aquamarine;
  background-color: blueviolet;
}

a[title="Facebook"]{
  background-color: cornflowerblue;
}*/

.loginScreen{
  background: #efefef;
  margin: 0;
  padding: 0;
  font-family: open sans, sans-serif;
  font-size: large;  
  text-align: center;
  display: flex;
}

.imageContainer{
    width: 65%;
    height: 100vh;
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.accountContainer{
    width: 35%;
    height: 100vh;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2EFF1;
}

.socialButtons{
  flex-direction: column;
  align-items: center;
  margin: 30px;
  padding: 5px;
}

.loginSelect{
  height: 400px;
  width: 500px;
  background-color: #ffffff;
  opacity: 0.95;
  padding: 10px;
  position: relative;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #BAB1B1;
}

input{
  background: #ECECEC;
  border-radius: 6px;
  border: none;
  height: 50px;
  width: 380px;
  align-self: center;
  justify-content: center;
}

input[type="checkbox"]{
  height: 20px;
  width: 20px;
  margin: 0%;
  align-self: center;
  justify-content: center;
}

::placeholder {
  color: #7CD5D0;
  padding: 3%;
}

label[for=id_password]{
  display: none;
}

label[for=id_login]{
  display: none;
}

label{
  font-size: 15px;
  align-content: flex-start;
  justify-self: left;
}

strong{
  display: none}

.socialaccount_ballot{
  display: none;
}

li:nth-child(1){
  display: none;
}

marker{
  display: none;
}