body {
  background-image: url("fondo.jpg");
  background-color: #fce7f5;
  background-repeat: no-repeat;
  background-size: 900px;
 }

#ingreso{
  float: right;
  width: 350px;
  border-style: outset;
  padding: 10px;
  margin-right: 50px;
  margin-top: 150px;
  text-align: center;
  background-color: #fdfafc;
}


#boton1{
  border-radius: 4px;
  width: 70%;
  height: 40px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #27bae7;
  
}
#boton2{
  border-radius: 4px;
  width: 70%;
  height: 40px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #d727e7;
  margin-top: 30px;
}

#caja{
  width: 70%;
  height: 30px;  
  margin-bottom: 5px;
  margin-top: 5px;
  border-style: outset;
}

input::placeholder {
  color: rgba(58, 212, 240, 0.884);
  font-size: 1.2em;
  font-style: arial;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
